<div class="row">
  <div class="col-md-12">
    <img class="speaker-detail-img" src="{{model.speaker.avatarUrl}}">
    <h2 class="media-heading"><a href="{{model.speaker.websiteUrl}}" target="_blank">{{model.speaker.displayName}}</a></h2>
    <h4 class="company"><a href="{{model.speaker.companuUrl}}" target="_blank">{{model.speaker.companyName}}</a></h4>
    <h4 class="location">Location: {{model.speaker.location}}</h4>
    <p>{{{model.speaker.descriptionHtml}}}</p>
    <h3>{{model.speaker.firstName}}'s Sessions</h3>
    {{#each model.sessions as |session|}}
      <h4>{{session.title}}</h4>
      <p>{{{session.abstractHtml}}}</p>
    {{/each}}
  </div>
</div>